<form
  class="animate__animated animate__slideInLeft animate__delay-1s agenda-edit-form"
>
  <div>
    <input name="agenda-title{{id}}" type="text" value="{{title}}" />
    <input name="agenda-date{{id}}" type="date" value="{{display_date}}" />
    :
    <input name="agenda-start{{id}}" type="time" value="{{start_time}}" />
    to
    <input name="agenda-end{{id}}" type="time" value="{{end_time}}" />
    <label for="agenda-location{{id}}">Location</label>
    <input name="agenda-location{{id}}" type="text" value="{{location}}" />
    <label for="agenda-notes{{id}}">notes</label>

    <input name="agenda-notes{{id}}" type="text" value="{{agenda_notes}}" />

  </div>
  <button id={{id}} class="update-agenda-btn" type="button">Edit</button>
  {{! edit button isn't working  }}
  <button type="button" id={{id}} class="delete-agenda-btn">Delete</button>
</form>