<article class="vacay">
  <div class="title">
    <a
      id={{id}}
      href="/dashboard/calendar/{{id}}"
      class="calendar"
    >{{title}}</a>
    <span>({{format_date start_date}} to {{format_date end_date}})</span>
  </div>
  <div class="meta">
    Destination:
    {{destination}}
    | created by:
    {{user.username}}
    {{! todo count not working  }}
    <div># of Events: {{agendaItems.length}}</div>

    {{! link to packing list page  }}
    <a id={{id}} href="dashboard/packing/{{id}}" class="packingList">Packing
      List</a>
    <a href="/dashboard/edit/{{id}}" class="edit-link">Edit Vacation</a>
  </div>
</article>