<article class="animate__animated animate__rubberBand animate__delay-1s vacay">
  <div class="title">
    <a href="/dashboard/edit/{{id}}">{{title}}</a>
    {{! todo figure out how to reformat displayed date }}
    <span>({{format_date start_date}} to {{format_date end_date}})</span>
  </div>
  <div class="meta">
    Destination:
    {{destination}}
    | created by:
    {{user.username}}

    <div># of Events: {{agendaItems.length}}</div>
    {{! todo ^ count not working  }}
  </div>
</article>