<article class="vacay">
  <div class="title">
    <button id={{id}} class="calendar">{{title}}</button>
    {{! todo figure out how to reformat displayed date }}
    <span>({{format_date start_date}} to {{format_date end_date}})</span>
  </div>
  <div class="meta">
    Destination:
    {{destination}}
    | created by:
    {{user.username}}

    <div># of Events: {{AgendaItem.length}}</div>
    {{! todo ^ count not working  }}
  </div>
</article>