<article>
  <a href="/dashboard"> &larr; Back to dashboard</a>
  <h2>
    Edit Vacation
  </h2>
  <form class="edit-vacay-form">
    <div>
      <input name="vacay-title" type="text" value="{{vacay.title}}" />
      {{!-- <span>({{format_url post.post_url}})</span> --}}
    </div>

    <button type="submit">Save vacay</button>
    <button type="button" class="delete-vacay-btn">Delete vacay</button>
  </form>
</article>

<article class="agenda-form">
      <div>
      <a href="/agenda/{{agenda.id}}">{{vacay.agenda.length}} {{format_plural "agenda item" vacay.agenda.length}}</a>
    </div>

{{> agenda-item-info agendaItems }}


  <div>
    <button type="submit" class="update-agenda-btn">Update agenda</button>

  </div>
</article>

<script src="/javascript/edit-vacay.js"></script>
<script src="/javascript/delete-vacay.js"></script>
<script src="/javascript/agenda.js"></script>