{{!-- might combine with single vacay  --}}
<div>
<button id="cal-view" class="cal-view nav-v-btn">Calendar</button>
<button class="packing-list nav-v-btn">Packing List</button>
</div>
<article>

  <h2 class="vacay-edit-sec animate__animated animate__bounce">
    {{vacay.title}}
  </h2>
  <form class="edit-vacay-form">
    <div>
      <input name="vacay-title" type="text" value="{{vacay.title}}" />
    </div>
<div>
        Destination: 
        <input name="vacay-destination" type="text" value="{{vacay.destination}}" />
        </div>
        <div>        <input name="vacay-start" type="date" value="{{vacay.start_date}}" /> to <input name="vacay-end" type="date" value="{{vacay.end_date}}" /> </div>
    <button class="edit-vacay-btn" type="button">Save vacay</button>
    <button type="button" class="delete-vacay-btn">Delete vacay</button>
  </form>
</article>

<form class="agenda-form">
  <h3>Add New Event:</h3>
    <div>

      <input name="agenda-titleN" type="text"
       value="{{title}}" 
       />
        <input id="2" name="agenda-dateN" type="date"
       value="{{display_date}}"/> 
       : 
       <input name="agenda-startN" type="time"
       value="{{start_time}}"/> 
       to 
       <input name="agenda-endN" type="time"
       value="{{end_time}}"/>
    <label for="agenda-locationN">Location</label>
    <input name="agenda-locationN" type="text" value="{{location}}" />
    <label for="agenda-notesN">notes</label>

    <input name="agenda-notesN" type="text" value="{{agenda_notes}}" />

    </div>

    <button id="save-event-btn" type="button">Save event</button>
  </form>
</article>

<article class="agenda-list">

{{#if vacay.agendaItems.length}}
<section id="agenda-edit-sec">
  <h2>Agenda:</h2>
  <div class="agenda-list">
    {{#each vacay.agendaItems as | agendaItem |}}
    <div>
      {{> agenda-item-info agendaItem}}
    </div>
    {{/each}}
  </div>
</section>
{{else}}
<div>No Events Planned</div>
{{/if}}




<script src="/javascript/edit-vacay.js"></script>
<script src="/javascript/delete-vacay.js"></script>
<script src="/javascript/add-agenda-item.js"></script>
    <script src="/javascript/calendar.js"></script>

{{#if vacay.agendaItems.length}}
<script src="/javascript/edit-agenda-item.js"></script>
<script src="/javascript/delete-agenda-item.js"></script>
{{/if}}
