<article>
  <a href="/dashboard"> &larr; Back to dashboard</a>
  <h2>
    Edit Vacation
  </h2>
  <form class="edit-vacay-form">
    <div>
      <input name="vacay-title" type="text" value="{{vacay.title}}" />
      <span>({{format_url post.post_url}})</span>
    </div>
    <div>
      <a href="/vacay/{{vacay.id}}">{{vacay.agenda.length}} {{format_plural "agenda item" vacay.agenda.length}}</a>
    </div>
    <button type="submit">Save vacay</button>
    <button type="button" class="delete-vacay-btn">Delete vacay</button>
  </form>
</article>

<form class="agenda-form">
  <div>
    <textarea name="agenda-body"></textarea>
  </div>

  <div>
    <button type="submit">add agenda item</button>
  </div>
</form>

{{> agenda-item-info agendaItems }}

<script src="/javascript/edit-vacay.js"></script>
<script src="/javascript/delete-vacay.js"></script>
<script src="/javascript/agenda.js"></script>